<html>

<h1>Sign Up</h1>

<form action="/users" method="post" >
    <label>Username: </label>
    <input type="text" name="username" />
    <br/>
    <label>Email: </label>
    <input type="email" name="email" />
    <br/>
    <label>Password: </label>
    <input type="password" name="password" />
    <br/>
    <input type="submit" />
</form>

</html>