<html>
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1> Welcome To Your Online Pokemon PC!</h1>
      <br/>
      <p>Here you will be able to build an inifinite 
      <br/>
      <h3> To View Your PC Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a></h3>
    </div>
  </div>
</html>







